<div class="text-center">
<h1>
        <font color={{homeTeam.main_color}}><span id="team-name">{{homeTeamShort}}</span> </font> - <font color={{awayTeam.main_color}}><span id="team-name">{{ awayTeamShort}}</span></font>
    <br>
    <div class="btn btn-primary btn-sm" ng-click="voteFor(homeVote.choice)">Soutenir {{homeTeamShort}}</div>
    <div class="btn btn-success btn-sm" ng-click="voteFor(awayVote.choice)">Soutenir {{awayTeamShort}}</div>
</h1>
</div>

<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ homeVotePercent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{homeVotePercent}}%;">
        {{homeVotePercent}}%
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ awayVotePercent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{awayVotePercent}}%;">
        {{awayVotePercent}}%
    </div>
</div>

<tabset> 
<tab heading="Tweets">


<div class="btn-group" ng-show="!loading">
    <label class="btn btn-info btn-xs" ng-model=filterModel ng-click="tweetFilter('-retweet_count')" btn-radio="'retweets'">Trier par retweets</label>
    <label class="btn btn-info btn-xs" ng-model=filterModel ng-click="tweetFilter('-created_at')" btn-radio="'date'">Trier par date</label>
</div>


    <button ng-click="reloadTweets('tweets')" type="button" class="btn btn-default btn-xs pull-right" ng-show="!loading">
        <span class="glyphicon glyphicon-repeat"></span>
    </button>
<div ng-show="loading">
    Chargement...
</div>
<ul class="list-unstyled">
    <div class="list-group">
        <span class="list-group-item" ng-repeat="trend in trends | unique : 'id' | orderBy : predicate ">
            <div class="row">
                <div class="col-md-12" style='text-align: justified'>

                    <i> {{ trend.text }} </i> <br> par <b> {{ trend.user.name }}</b> le {{ trend.smallDate }}. <span ng-show="trend.retweet_count">Retweeté <b> {{ trend.retweet_count }} </b> fois. </span>

                </div>
            </div>
        </span>
    </div>
</ul>

<div ng-show="loadingMore">
    Chargement...
</div>
    <button ng-click="moreTweets('tweets')" type="button" class="btn btn-default btn-xs center-block" ng-show="!loading && !loadingMore">
        <span class="glyphicon glyphicon-plus"></span> Afficher plus de tweets 
    </button>

</tab>

<tab heading="Buts">
    <button ng-click="getTrends('goaltweets')" type="button" class="btn btn-default btn-xs pull-right" ng-show="!loading">
        <span class="glyphicon glyphicon-repeat"></span>
    </button>
<br>

<div ng-show="loadingGoals">
    Chargement...
</div>
<ul class="list-unstyled">
    <div class="list-group">
        <span class="list-group-item" ng-repeat="trend in goalTrends | unique : 'id' | gameHashtag : this">
            <div class="row">
                <div class="col-md-12" style='text-align: justified'>

                    <i> {{ trend.text }} </i> <br> le {{ trend.smallDate }}.

                </div>
            </div>
        </span>
    </div>
</ul>

<div ng-show="loadingMoreGoals">
    Chargement... 
</div>
</tab>
</tabset>
