<h1><center><font color={{homeTeam.main_color}}><span id="team-name">{{homeTeamShort}}</span> </font> - <font color={{awayTeam.main_color}}><span id="team-name">{{ awayTeamShort}}</span></font></center></h1>

<center><button ng-click="getTrends()" type="button" class="btn btn-info">Get Trends</button></center>

<div ng-show="loading">
    Now loading
</div>
<br>
<ul class="list-unstyled">
    <div class="list-group">
        <span class="list-group-item" ng-repeat="trend in trends | unique : 'id'">
            <div class="row">
                <div class="col-md-12" style='text-align: justified'>

                    <i> {{ trend.text }} </i> <br> par <b> {{ trend.user.name }}</b> le {{ trend.smallDate }}. <span ng-show="trend.retweet_count">Retweeté <b> {{ trend.retweet_count }} </b> fois. </span>

                </div>
            </div>
        </span>
    </div>
</ul>

<div ng-show="loadingMore">
    Now loading
</div>

<a ng-click="moreTweets()">Afficher plus de tweets</a>
